.hero{
    background-image: url("../images/DJI_0005.JPG");
}

.about{
    margin-bottom: 2rem;
}

.row{
    display: flex;
    justify-content: space-around;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    padding: 1.5vw;
    text-align: center;
}

.columnHeader{
    color: deepskyblue;
    font-size: 2rem;
}

#bio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheader{
    color: deepskyblue;
    font-size: 3rem;
}

.text{
    
}