.hero{
    background-image: url("../images/DJI_0005.JPG");
    background-size: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 867px) {
    .hero{
        background-size: cover;
        background-position: center;
    }
}

#welcome{
    color: white;
    font-size: 8rem;
    font-weight: 300;
    margin: 0 0 1rem 0;
}

.btn{
    background-color: deepskyblue;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.2rem;
}

.btn:hover{
    filter: brightness(90%);
    cursor: pointer;
}

.bio{
    height: 100vh;
    background-color: #333333;
}

.row{
    display: flex;
    justify-content: space-around;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheader{
    color: deepskyblue;
}